/* The background image does not scroll. */
body {
  height: 100vh;
  width: 100vw;
  /* A blurred background image. */
  background-image: url("background.jpg");
  background-attachment: fixed;
  padding: 70px 0 0 0;
}

h1 {
  font-size: 30px;
}

/* Class for tokens. White font. Monospaced font. Scrollable. */
.glowtext {
  font-family: monospace;
  font-size: 1em;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.322);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 15px;
  padding: 10px;
  text-align: center;
  text-shadow: 0.2px 0.3px 3px #91faff;
  cursor: pointer;
  overflow-y: scroll;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

header .glowtext {
  padding: 20px;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: None; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  margin: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

/** Style for divs that blurs everything that lies below the div. */
.blur {
  -webkit-backdrop-filter: blur(4px);
  /* filter: blur(4px); */
  backdrop-filter: blur(4px);
  z-index: 10;
}

#image-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 330px;
  overflow:hidden;
}

/* Style for the img that contains the song cover. The border is black. 
It drops a shadow.
  */
.songimage {
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 330px;
  /* display: inline-block; */
}

/* Class for SVGs. Centered. Glowing border. */
.svg {
  display: inline-block;
  cursor: pointer;
  margin: 0 35px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Uses same style as select but inverted. */
.container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100vw;
  overflow: hidden; */
  justify-content: center;
}

/* Style for container buttons. Neon magenta area. Dark blue font. */
.container-buttons button {
  color: #ffffff;
  background-color: #91faff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 10px 20px;
  width: 125px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

/* An active button has an outline. */
.container-buttons .button-active {
  color: #000000;
  background-color: #91faff;
}

/* Style for inactive buttons. */
.container-buttons .button-inactive {
  color: #000000;
  background-color: #128e94;
}

.big-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100vw;
  overflow: hidden; */
  justify-content: center;
}

.big-buttons button {
  color: black;
  background-color: #91faff;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 10px 20px;
  width: 125px;
  height: 160px;
  text-align: center;
  cursor: pointer;
}

.voice-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 200px; */
  /* overflow: hidden; */
  justify-content: center;
}

.voice-buttons button {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  margin: 10px 20px;
  width: 70px;
  height: 70px;
  text-align: center;
  cursor: pointer;
}

#v1 {
  background-color: #f5da4b;
}

#v2 {
  background-color: #e45b2e;
}

#v3 {
  background-color: #b63655;
}

#v4 {
  background-color: #892169;
}

/* @media (max-width: 1340px) {
    .container-main {
      grid-template-columns: repeat(2, 120pt);
  }
  
  .container-buttons {
    display: contents;
    justify-content: center;
  }
      
  
  .container-buttons button {
    width: 30vw;
    height: 7vh;
  }
  
  select {
    width: 23vw;
    height: 5vh;
  }
  
  audio {
    margin-left:10vw;
    width: 80vw;
    height: 7vh;
    text-align: center;
  }
  
  .button-left{
    text-align: center;
  }
  
  .button-center{
    text-align: center;
  }
  
  } */
