<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Neuro Kybernik Bach</title>
    <script
      src="https://kit.fontawesome.com/d6e88637ad.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div id="overlay">
        <div class="glowtext blur">Composing...</div>
      </div>

      <!-- Titel -->
      <div class="glowtext blur">
        <h1>Neuro Kybernetik Bach</h1>
        <h2>
          Ein Exponat von Dr. Tristan Behrens zur Eröffnung des KI Salons
          Heilbronn im Oktober 2022
        </h2>
        <p>
          Das menschliche Gehirn verfügt über eine Trillion Synapsen. Das
          Neuronale Netz, das hier komponiert, hat nur 20 Millionen Parameter.
          Es komponiert schneller als viele Menschen, doch kann es weder Schach
          spielen, noch Auto fahren.
        </p>
      </div>
    </header>

    <!-- Bild, SVG und Buttons -->
    <div class="glowtext blur" id="image-row">
      <img src="/images/songimage" class="songimage" />
      <div id="svg_placeholder" class="svg"></div>
    </div>

    <!-- 4x Button Dreiergruppen -->
    <div class="glowtext blur toolbar">
      <div class="container-buttons">
        <div class="container-button">
          <button
            class="select-button button-active"
            onclick="select_button_clicked(this)"
            group="instrument"
            value="0"
          >
            Klavier
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this)"
            group="instrument"
            value="6"
          >
            Cembalo
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this)"
            group="instrument"
            value="19"
          >
            Orgel
          </button>
        </div>
      </div>

      <div class="container-buttons">
        <div class="container-button">
          <button
            class="select-button button-active"
            onclick="select_button_clicked(this)"
            group="tempo"
            value="80"
          >
            Langsam
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this)"
            group="tempo"
            value="100"
          >
            Normal
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this)"
            group="tempo"
            value="120"
          >
            Schnell
          </button>
        </div>
      </div>

      <div class="container-buttons">
        <div class="container-button">
          <button
            class="select-button button-active"
            onclick="select_button_clicked(this, recompose=true)"
            group="temperature"
            value="0.25"
          >
            Repetitiv
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this, recompose=true)"
            group="temperature"
            value="0.75"
          >
            Forsch
          </button>
        </div>
        <div class="container-button">
          <button
            class="select-button button-inactive"
            onclick="select_button_clicked(this, recompose=true)"
            group="temperature"
            value="1.0"
          >
            Experimentell
          </button>
        </div>
      </div>

      <!--div class="container-buttons" style="flex-direction: column;">
            <div class="container-button">
                <button class="select-button button-active" onclick="select_button_clicked(this, recompose=true)" group="density" value="3" style="width:125px">
                    Few
                </button>
            </div>
            <div class="container-button">
                <button class="select-button button-inactive" onclick="select_button_clicked(this, recompose=true)" group="density" value="6" style="width:125px">
                    Many
                </button>
            </div>
            <div class="container-button">
                <button class="select-button button-inactive" onclick="select_button_clicked(this, recompose=true)" group="density" value="9" style="width:125px">
                    A lot
                </button>
            </div>
        </div-->

      <!-- Test für zwei weitere Blöcke -->
      <div class="big-buttons">
        <button onclick="play_button_clicked()">
          <i class="fas fa-play"></i>
        </button>
      </div>

      <div class="big-buttons">
        <button onclick="compose_button_clicked()">
          <i class="fas fa-redo" aria-hidden="true"></i>
        </button>
      </div>

      <div class="voice-buttons">
        <button class="" onclick="redo_button_clicked(0)" id="v1">
          <i class="fas fa-redo" aria-hidden="true"></i>
        </button>
        <button class="" onclick="redo_button_clicked(3)" id="v2">
          <i class="fas fa-redo" aria-hidden="true"></i>
        </button>
      </div>
      <div class="voice-buttons">
        <button class="" onclick="redo_button_clicked(1)" id="v3">
          <i class="fas fa-redo" aria-hidden="true"></i>
        </button>
        <button class="" onclick="redo_button_clicked(2)" id="v4">
          <i class="fas fa-redo" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <!-- A div that aligns its children left to right. There is a distance between. -->
    <div class="glowtext blur" style="display: none">
      <audio id="audio" controls>
        <source src="" type="audio/mpeg" style="width: 125px" />
      </audio>
    </div>

    <div class="glowtext">
      Copyright 2022 Tristan Behrens. <a href="https://ai-guru.de/impressum/">Imprint</a>.
    </div>

    <!-- hide this completely -->
    <div class="glowtext" id="tokens_placeholder" style="display: none"></div>

    <!-- Script that runs when the page has loaded. -->
    <script>
      $(document).ready(function () {
        composer_loaded();

        //compose_button_clicked();
      });
    </script>
  </body>
</html>
